*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Jost',sans-serif;
background:#111;
color:white;
}

.admin-container{
display:flex;
min-height:100vh;
}

.sidebar{
width:280px;
background:#1b1b1b;
padding:30px 20px;
border-right:1px solid rgba(255,255,255,.08);
}

.logo{
margin-bottom:40px;
}

.logo h2{
font-family:'Playfair Display',serif;
font-size:1.6rem;
}

.logo p{
opacity:.7;
}

nav{
display:flex;
flex-direction:column;
gap:12px;
}

.menu-item{
color:white;
text-decoration:none;
padding:14px;
border-radius:12px;
transition:.3s;
}

.menu-item:hover{
background:#2a2a2a;
}

.active{
background:#c7a17a;
color:black;
font-weight:600;
}

.content{
flex:1;
padding:40px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:30px;
}

.card{
background:#1d1d1d;
padding:25px;
border-radius:16px;
}

.card span{
font-size:2rem;
font-weight:700;
display:block;
margin-top:10px;
}

.welcome{
margin-top:40px;
background:#1d1d1d;
padding:30px;
border-radius:16px;
}

.gallery-admin{
margin-top:40px;
background:#1d1d1d;
padding:30px;
border-radius:16px;
}

.upload-box{
margin-top:20px;
margin-bottom:30px;
}

#gallery-upload{
display:none;
}

#upload-btn{
background:#c7a17a;
border:none;
padding:12px 20px;
border-radius:12px;
cursor:pointer;
font-weight:600;
}

.gallery-preview{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
gap:20px;
}

.gallery-item{
position:relative;
}

.gallery-item img{
width:100%;
height:180px;
object-fit:cover;
border-radius:12px;
}

.delete-btn{
position:absolute;
top:8px;
right:8px;
border:none;
padding:8px;
border-radius:50%;
cursor:pointer;
}
.admin-section{
display:none;
}

.active-section{
display:block;
}
.service-form{
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
max-width:600px;
}

.service-form input,
.service-form textarea{
padding:12px;
border:none;
border-radius:10px;
background:#2a2a2a;
color:white;
}

.service-form button{
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:600;
background:#c7a17a;
}

#services-list{
margin-top:30px;
display:grid;
gap:20px;
}

.service-card{
background:#1d1d1d;
padding:20px;
border-radius:12px;
}
.service-image{
width:100%;
height:220px;
object-fit:cover;
border-radius:12px;
margin-bottom:15px;
}